#form_issue_block, #form_contact_block {
	width: 400px;

}

#form_issue_content, #form_contact_content {
	margin-left:10px;
}

#form_issue_description, #form_contact_message {
	width: 367px;
}

#form_issue_file_view, #form_contact_file_view {
	width: 292px;
}

#form_issue_submit_buttons {
	padding-left: 68px;
}

#form_contact_submit_buttons {
	padding-left: 126px;
}

#form_contact_object {
	width: 367px;
}

#form_contact_select {
	width:380px;
}