/*FONCE : rgba(48, 51, 64, 1)*/
/*FONCE CLAIR : rgba(95, 103, 128, 1) */
/*MIDDLE : rgba(156, 169, 209, 1)*/
/*MIDDLE CLAIR : rgba(171, 185, 229, 1)*/
/*CLAIR : rgba(190, 206, 255, 1)*/

body {
	background-color: rgba(70, 82, 100, 1)
	}

/*header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(70, 82, 100, 1);
	height: 20px;
	width: 100%;
}
*/

article {
	padding-left: 10px;
}

.colg {
	
	position: absolute;
	left: 0;
	top:35px;
	background-color: rgba(70, 82, 100, 1);
	width: 20%;
	height: 100%;
	min-width: 120px;
}

.main {
	position: absolute;
	margin-left: 20%;
	top:35px;
	background-color: rgba(190, 206, 255, 1);
	width: 80%;
	height: 95%;
	display: block;
	z-index: 3;
	box-shadow: -8px -8px 8px rgba(50, 50, 50, 0.9);
}

#nav {

  position: absolute;
  top:160px;
  overflow: hidden; 
  width: 20%;
  color: #fff;
}

#nav .block {
  z-index: 4;
  position: fixed;
  width: 20.56%;
}

#nav ul {

  display: block;
}
#nav ul:before, #nav ul:after {
  content: "";
  display: table;
}
#nav ul:after {
  clear: both;
}
#nav li {
  display: block;
  padding-left: 8px;
  border-radius: 4px 0 0 4px;
}
#nav li  {
  display: block;
  color: #ccc;
  font-size: 1.9em;
  line-height: 1.28571em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
#nav li:focus, #nav li:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
#nav li.active {
  color: #fff;
  background-color: rgba(190, 206, 255, 1);
}

.active {
	background-color: rgba(190, 206, 255, 1);
	box-shadow: -8px -8px 8px rgba(50, 50, 50, 0.9);
}

@media screen and (max-width: 1066px) {
	.colg{
		width: 210px
	}

	.main {
		margin-left: 210px;
		width:(auto,100%);
	}


	}