/*
@fonce {rgba(49,49,51, 1)}
@fonceclair {rgba(60,59,62, 1)}
@middle {rgba(72,71,75, 1)}
@middleclair {rgba(134,132,138, 1)}
@CLAIR {rgba(242,238,250, 1)}
*/

body {
	background: url('../img/dgreyok.jpg') repeat;
	}

/*header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(70, 82, 100, 1);
	height: 20px;
	width: 100%;
}
*/

article {
	padding-left: 10px;
}

.colg {
	
	position: absolute;
	left: -35px;
	
	
	width: 20%;
	height: 90%;

}

.main {
	margin-left: 20%;
	position: absolute;
	right:35px;
	top: 35px;
	background-color: rgba(242,238,250, 0.98);
	width: 80%;
	
	height: 90%;
	display: block;
	z-index: 3;
	box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.5);
}

#nav {
	position: relative;
	padding-left: 40px;
	float: right;
	width: 80%;
	
	top:160px;
	overflow: hidden; 
	color: #fff;
	z-index: 4;
}

#nav .block {
  width: 100%;
  min-width: 210px;

}

#nav ul {
  padding-left: 0;
  
  display: block;
}
#nav ul:before, #nav ul:after {

}
#nav ul:after {
  clear: both;
}
#nav li {
	width: 100%;
	display: block;
	padding-left: 8px;
	border-radius: 4px 0 0 4px;
	z-index: 4;
	display: block;
	color: #ccc;
	font-size: 1.9em;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	padding-bottom: 10px;
	padding-top: 10px;
	background: rgba(72,71,75, 0.5);
	border-left:1px solid rgba(49,49,51,1);
	border-top: 1px solid rgba(49,49,51,1);
}

.menubas{
	border-bottom: 1px solid rgba(49,49,51,1);
}

#nav li:focus, #nav li:hover {
	color: #fff;
	background: rgba(134,132,138, 0.5);
	
}
#nav li.active {
  color: rgba(60,59,62, 1);
  background-color: rgba(242,238,250, 0.98);
}

.active {
	background-color: rgba(242,238,250, 0.98);
	box-shadow: -8px -8px 8px  rgba(0, 0, 0, 0.5);
	z-index: 200;
}

@media screen and (max-width: 1066px) {
	

	.main {
		margin-left: 210px;
	}


	}