/*FONCE : rgba(48, 51, 64, 1)*/
/*FONCE CLAIR : v */
/*MIDDLE : rgba(156, 169, 209, 1)*/
/*MIDDLE CLAIR : rgba(171, 185, 229, 1)*/
/*CLAIR : rgba(190, 206, 255, 1)*/

body {
	background-color: rgba(70, 82, 100, 1)
	}

/*header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(70, 82, 100, 1);
	height: 20px;
	width: 100%;
}
*/

article {
	padding-left: 10px;
}

.colg {
	
	position: absolute;
	left: 0;
	top:35px;
	background-color: rgba(70, 82, 100, 1);
	width: 20%;
	height: 100%;

}

.main {
	margin-left: 20%;
	position: absolute;
	top:35px;
	background-color: rgba(190, 206, 255, 1);
	width: 80%;
	min-width: 752px;
	height: 95%;
	display: block;
	z-index: 3;
	box-shadow: -8px -8px 8px rgba(50, 50, 50, 0.9);
}

#nav {
	position: relative;
	left:8px;
	float: left;
	width: 100%;
	min-width: 210px;
	top:160px;
	overflow: hidden; 
	color: #fff;
	z-index: 4;
}

#nav .block {
  width: 100%;
  min-width: 210px;

}

#nav ul {
  width: 100%;
  min-width: 210px;
  display: block;
}
#nav ul:before, #nav ul:after {

}
#nav ul:after {
  clear: both;
}
#nav li {
	display: block;
	padding-left: 8px;
	border-radius: 4px 0 0 4px;
	z-index: 4;
	display: block;
	color: #ccc;
	font-size: 1.9em;

	font-weight: bold;
	outline: none;
	cursor: pointer;
	padding-bottom: 8px;
	padding-top: 8px;
}

#nav li:focus, #nav li:hover {
	color: #fff;
	background: rgba(95, 103, 128, 1);
	box-shadow: -8px -8px 8px rgba(50, 50, 50, 0.5);
}
#nav li.active {
  color: #fff;
  background-color: rgba(190, 206, 255, 1);
}

.active {
	background-color: rgba(190, 206, 255, 1);
	box-shadow: -8px -8px 8px rgba(50, 50, 50, 0.9);
}

@media screen and (max-width: 1066px) {
	

	.main {
		margin-left: 210px;
	}


	}